# Paneles

In [1]:
import pandas as pd
import pytz, datetime
import pytz
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import os, fnmatch
from astropy.io import fits
import cv2

In [2]:
Path='/home/gpu/Documentos/CONNIEData/eventsFits/'

In [3]:
Data = pd.read_csv('masterCatalog.csv')

In [4]:
Data.head()

   runID  ohdu   expoStart  events                   datetime
0   6031     2  1555092071     755  2019-04-12 18:01:11+00:00
1   6032     2  1555096103     787  2019-04-12 19:08:23+00:00
2   6033     2  1555100112     768  2019-04-12 20:15:12+00:00
3   6034     2  1555104148     749  2019-04-12 21:22:28+00:00
4   6035     2  1555108171     723  2019-04-12 22:29:31+00:00

In [5]:
Sample=Data.sample(n=200, random_state=1)

In [6]:
Sample.to_csv('Sample.csv',index=False)